.register-container{
    background-image: url("F:\Foodies\foodies\src\assets\register.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}